@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


body{
	background-color: #E8EDED;
	font-family: 'Lora', serif;
	font-size : 18px;
	margin: 0px;
	color: black
}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: black
}

a{
	text-decoration: none;
}

.card-white {
    background: rgb(187 163 156);
    padding: 40px;
    margin: 20px 0px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
}

#profil{
	margin-bottom: 40px;
	text-align: center;
	color: black;
}

.images{
    height: 300px;
    width: 300px;
}